<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="EndpointUri" value="https://a9gqhhcik9p9p8fgw0rg.documents.azure.com:443/" />
    <add key="PrimaryKey" value="rn0Xk2ZR0JQLzaHG47Q6FuR73kUv9hl7f5NjmSJQcOgyjJgwLlAQokQJpvwblMSboD7aborIoJogJOo7zB3PDQ==" />
  </appSettings>
</configuration>