<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <startup>
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
   </startup>
 <appSettings>
   <add key="key" value="yZp9vy0OuZNWhnGGae8oFo8QPAOIvo77qN1lMU5jrSJyWkGopsbIy5yL9O4DeYwUqL2GYzbxCxe7XdOIdC8FNQ=="/>
 </appSettings>
</configuration>
