html {
  font-family: "Roboto", sans-serif;
}

.mdc-top-app-bar {
  background-color: #9dacff;
  color: #000000;
}

.mdc-top-app-bar .mdc-top-app-bar__action-item,
.mdc-top-app-bar .mdc-top-app-bar__navigation-icon {
  color: #000000;
}

.demo-card {
  width: 350px;
  display: inline-block;
}

.demo-card__primary {
  padding: 1rem;
}

.demo-card__secondary {
  padding: 1rem 1rem 8px;
  color: rgba(0, 0, 0, 0.54);
}

.demo-card__media-content {
  color: #fff;
  display: flex;
  align-items: flex-end;
}

.demo-card__title,
.demo-card__subtitle {
  margin: 0;
}

.mdc-layout-grid {
  background-color: rgba(0, 0, 0, 0.2);
}

.mdc-layout-grid__inner {
  margin-top: 1rem;
}

.mdc-layout-grid__cell {
  /* background-color: rgba(0, 0, 0, 0.2); */
}

.mdc-layout-grid__cell ul {
  list-style: none;
  padding-left: 0;
}

.centered-text {
  text-align: center;
}

.background-dark-grey {
  background-color: rgba(0, 0, 0, 0.4);
}
